name: Backup / Publish Web
on:
  push:
    tags:
      - "backup/*"

jobs:
  publish-web:
    if: github.repository == 'wireapp/kalium'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Force fetch the tag to work around actions/checkout#290
        run: git fetch -f origin ${{ github.ref }}:${{ github.ref }}
      - name: Ensure the tag is signed
        run: git cat-file commit HEAD | grep -q -- '-----BEGIN PGP SIGNATURE-----'

      - name: Setup Java and Gradle
        uses: ./.github/actions/setup-java-gradle

      - name: Build JS/TS
        run: ./gradlew :domain:backup:jsBrowserProductionLibraryDistribution

      - name: Setup Node for npm publish (Trusted Publisher)
        uses: actions/setup-node@v6
        with:
          scope: "@wireapp"

      - name: Publish package to npm (OIDC Trusted Publisher)
        working-directory: domain/backup/build/dist/js/productionLibrary
        run: npm publish
