name: quay.io infinitemonkeys image build & push

on:
  push:
    branches: ['develop', 'monkeys_k8s_helm']
    paths: ['monkeys/**']

jobs:
  quay_publish:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: wire+kalium_github_actions
          password: ${{ secrets.QUAY_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./monkeys/docker/Dockerfile
          platforms: linux/amd64
          tags: quay.io/wire/infinitemonkeys
          push: true

